/**************************** reset ****************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    /* overflow-x: hidden; */
    background-color: rgba(0, 128, 0, 0.288);
    height: 5000px;
}

main{
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

ul{
    list-style:none
}

a{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button{
    cursor: pointer;
}

/**************************** unb ****************************/
.category-unb{
    position: fixed;
    background-color: #F4F4F4;
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.category-unb>div{
    width: 1200px;
    display: flex;
    justify-content: center;
}

.unb-lists{
    display: flex;
    /* width: 672px; */
}

.unb-lists li{
    width: 168px;
    padding: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unb-lists li a{
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #999999;
}

/**************************** gnb ****************************/
.category-gnb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 58px 0 45px;
    width: 100vw;
    height: 80px;
    position: fixed;
    transform: translate(0, 45px);
    z-index: 10;
}

.category-gnb ul{
    display: flex;
}

.logo{
    padding: 22px 20px 12px;
}

#logo-svg g{
    fill: white;
}

.logo-fill {
    fill: red; 
}

.logo-line {
    fill: white; 
}

.gnb{
    width: 992px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.gnb li{
    display: flex;
    align-items: center;
}

.gnb li a, .gnb-sub li i{
    color: white;
}

.gnb li:nth-child(-n+6){
    height: 80px;
    padding: 28px 24px 24px 25px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 17px;
    white-space: nowrap;
}

.gnb li:nth-child(7){
    padding-top: 10px;
}

.nlive-svg{
    width: 86px;
    height: 33px;
}

.gnb-sub li{
    height: 80px;
}

.gnb-sub li a i{
    padding: 27px 15px 23px;
    font-size: 20px;
}

/**************************** jumbotron ****************************/
.jumbotron{
    width: 100vw;
    height: 900px;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-slide1{
    background-image: url("https://image.nongshim.com/non/main/1713139245787.png");
}

.main-slide2{
    background-image: url("https://image.nongshim.com/non/main/1621294613930.jpg");
}

.main-slide3{
    background-image: url("https://image.nongshim.com/non/main/1621294637450.jpg");
}

.main-slide4{
    background-image: url("https://image.nongshim.com/non/main/1648698440223.png");
}

.swiper-pagination-bullet {
    background-color: white !important;
    margin: 0 12px !important
}


/**************************** btn quick ****************************/
.btn-quick{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
    right: 50%;
    margin-top: -25px;
    margin-right: -25px;
    background-color: #96c120;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-quick a i{
    color: white;
}

/**************************** news ****************************/
.main-news{
    padding-top: 105px;
    background-color: white;
}

.main-news h2{
    font-size: 62px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -6px;
}

.news-swiper{
    margin-top: 40px;
    padding-bottom: 30px;
    height: 592px;
    width: 8000px;
}

.news-slide-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-slide{
    width: 458px;
    height: 302px;
    padding: 60px 39px 80px;
    background-size: cover;
}

.news-info{
    width: 458px;
    height: 160px;
    padding: 23px 39px 34px;
}

.news-info>div>a{
    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
}

.notice-date{
    text-align: left;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    color: #999;
    display: inline-block;
    margin: 11px 0 0;
}

.notice-mark{
    width: 84px;
    background-color: #539a00;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    font-size: 14px;
    padding: 6px 14px;
    text-align: center;
}

.news-slide1 a, .news-slide2 a{
    margin: 30px 0 14px 4px;
    text-align: left;
    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
}

.news-slide1, .news-slide2{
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.15);
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    margin-bottom: 260px;
}

.news-slide2{
    margin: -30px 0 0 0;
}

.news-slide3{
    background-image: url("https://image.nongshim.com/non/press/baehongdon_cut.jpg");
    margin: -50px 0 0 0;
}
.news-slide4{
    background-image: url("https://image.nongshim.com/non/press/the_black_model.jpg");
    margin: 170px 0 0 0;
}
.news-slide5{
    background-image: url("https://image.nongshim.com/non/press/NS_KFILM.jpg");
    margin: -147px 0 0 0;
}
.news-slide6{
    background-image: url("https://image.nongshim.com/non/press/nongshim_monde_selection.jpg");
    margin: 30px 0 0 0;
}
.news-slide7{
    background-image: url("https://image.nongshim.com/non/press/1713483651662.jpg");
    margin: -100px 0 0 0;
}
.news-slide8{
    background-image: url("https://image.nongshim.com/non/press/1712886167453.jpg");
    margin: 100px 0 0 0;
}
.news-slide9{
    background-image: url("https://image.nongshim.com/non/press/model.jpg");
    margin: -147px 0 0 0;
}
.news-slide10{
    background-image: url("https://image.nongshim.com/non/press/gourmet_poteto.jpg");
    margin: 10px 0 0 0;
}

.main-btn-wrap{
    display: flex;
    justify-content: center;
}

.main-btn{
    width: 270px;
    height: 60px;
    padding: 18px 32px;
    border-radius: 30px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid #ca0202;
    color: #ca0202;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
}

.main-btn:hover{
    color: white;
    background-color: #ca0202;
}

/**************************** intro ****************************/
.main-intro{
    padding: 150px 0 80px 0;
    width: 100vw;
    height: 1627px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-intro h2{
    font-size: 62px;
    z-index: 2;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
}
.intro-img{
    width: 1604px;
    height: 890px;
    margin-top: -40px;
    background-image: url("https://www.nongshim.com/resources2/images/main/main_intro.png");
}

.intro-list{
    background-color: #ffffff80;
    width: 1300px;
    height: 326px;
    padding: 90px 28px 50px 28px;
    margin-top: -120px;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.intro-item{
    width: 414px;
    padding: 30px 22px 0;
    position: relative;
    text-align: center;
}

.intro-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 2px;
    background-color: #d70000;
    transform: translateX(5%);
}

.intro-item h3, .intro-item p{
    font-size: 22px;
    font-family: "Noto Sans KR", sans-serif;
}

.intro-item p{
    font-size: 21.5px;
    font-weight: 500px;
    margin-top: 18px;
}


/**************************** story ****************************/
.main-story{
    height: 1081px;
    width: 100vw;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0 80px;
}

.main-story h2{
    font-size: 62px;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
}