/**************************** etc ****************************/

.main-etc{
    background-color: #555555;
    width: 100%;
    height: 290px;
}

.etc-list{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 430px 1fr;
}

.stock a{
    float: right;
}

.etc-item a{
    width: 430px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.etc-item a p{
    color: #ffffff80;
}